.container {
    text-align: center
}

.card {
<<<<<<< HEAD
    max-width: 300px;
    margin: 10px auto;
//     display: flex;
//   flex-direction: column;
  // width: auto;
  height: 100%;
  padding: 5% 5% 5% 5%

}

body {
  background-color:  #e91e63;
}

.buttonCenter {
    margin-right: 10px auto;
}

.buttonSpacer {
    flex: 1 1 auto;
}

.spinner-container {
    background: lightpink;
    width: 20%;
  
    .mat-spinner {
      width: 100% !important;
    }
  
    .mat-spinner ::ng-deep svg {
      width: 100% !important;
    }
  }
=======
    max-width: 400px;
    margin: 10px auto;
//     display: flex;
//   flex-direction: column;
//   width: 100%
}
>>>>>>> origin/master
