<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span><a mat-button routerLink="/"> <i class="material-icons prefix">home</i>&nbsp;Home</a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/" routerLinkActive="active"><i class="material-icons prefix">input</i>&nbsp;Login</a>
    <a mat-button routerLink="/signup" routerLinkActive="active"><i class="material-icons prefix">input</i>&nbsp;Register</a>
    <a mat-button routerLink="/customers" routerLinkActive="active"><i class="material-icons prefix">face</i>&nbsp;Customers</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>