
table {
    width: 100%;
   align-items: center;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }

.container {
  height: 600px;
  overflow: auto;
  max-width: 90%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  margin: 30px auto 15px;
}

.search {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}